<%= simple_form_for(@seller_profile) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">

  <%= f.input :name %>
  <%= f.input :bio %>
  <%= f.input :logo %>
  <%= f.input :address %>
  <div class="row">
    <div class="col-md-4">
      <%= f.input :suburb %>
    </div>
    <div class="col-md-4">
      <%= f.input :state, collection: ['NSW', 'ACT', 'QLD', 'WA', 'NT', 'SA', 'TAS'], prompt: 'State' %>
    </div>
    <div class="col-md-4">
      <%= f.input :postcode %>
    </div>
  </div>
  <%= f.input :country, priority: ['Australia'] %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
