<div class="card">
  <a href="<%= product_path(product) %>"><img class="card-img-top" src="<%= product.image_url %>" alt="Card image cap"></a>
  <div class="card-body">
    <h4 class="card-title">
      <%= link_to product.name, product %>
    </h4>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text">
      <small class="text-muted"><%= number_to_currency(product.price) %> </small>
      <span class="badge badge-secondary"><%= product.num_in_stock %> in stock</span>
      <%= link_to 'Add to cart', add_to_carts_path(product_id: product.id), class: 'btn btn-success', remote: true %>
    </p>
  </div>
  <% if user_signed_in? %>
    <% if current_user == product.seller_profile.user %>
    <div class="card-footer text-muted">
      <%= link_to '<i class="fa fa-edit"></i> EDIT'.html_safe, edit_product_path(product) %>
    </div>
    <% end %>
  <% end %>
</div>
