<%= simple_form_for(@enquiry) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :name, label: false, placeholder: "Your name" %>
      </div>
      <div class="col-md-4">
        <%= f.input :email, label: false, placeholder: "Your email" %>
      </div>
      <div class="col-md-4">
        <%= f.input :phone, label: false, placeholder: "Your phone" %>
      </div>
    </div>
    <%= f.input :subject, label: false, collection: ['General enquiry', 'Website error'], prompt: 'Choose reason for enquiry' %>
    <%= f.input :message, label: false, placeholder: "Enter your message", input_html: { rows: 5 } %>
  </div>

  <div class="form-actions">
    <button type="submit" name="button" class="btn btn-primary">
      <i class="fa fa-paper-plane"></i> Send message
    </button>
  </div>
<% end %>
